@{
    var KeplerServiceUrl = Startup.KeplerServiceUrl;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/statico")

    @RenderSection("scripts", required: false)

    <style>
        #page-inner {
            min-height: 400px;
        }
    </style>

</head>
<body>
    <script type="text/javascript">
        var KeplerServiceUrl = '@KeplerServiceUrl';
    </script>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="~/img/logo.png">
                    KEPLER
                </a>
            </div>

            <div class="header-right">
                <a class="btn btn-default" href="/admin">
                    <i class="fa fa-gears" aria-hidden="true"></i>
                </a>
                <a class="btn btn-default header-log-btn" title="Error log" href="/error-log" linkUrl="/error-log">
                    <i class="fa fa-exclamation-circle fa-2x"></i>
                </a>
            </div>
        </nav>
        <!-- /. NAV TOP -->

        <nav class="navbar-default navbar-side" role="navigation">

            @if (Request.Url.GetLeftPart(UriPartial.Path).Contains("admin"))
            {
                @RenderPage("~/Views/Admin/LeftMenu.cshtml")
            }
            else
            {
                @RenderPage("~/Views/Kepler/LeftMenu.cshtml")
            }


        </nav>
        <!-- /. NAV SIDE -->

        <div id="page-wrapper">
            <div id="page-inner">
                @RenderBody()
            </div>
            <!-- /. PAGE INNER -->
        </div>
        <!-- /. PAGE WRAPPER -->
    </div>
    <!-- /. WRAPPER -->
    <div id="footer-sec">
        &copy; 2015 Kepler.ws | Design By : <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
    </div>

    <!-- /. MODAL WINDOW -->
    <div class="modal fade" id="crud-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <form id="modal_form" action="javascript:void(null);" onsubmit="">
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="images-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel"></h4>
            <ul class="nav nav-tabs">
                <li class="">
                    <a href="#baseline" data-act="switch_baseline" data-toggle="tab">Baseline</a>
                </li>
                <li class="">
                    <a href="#compare" data-act="switch_compare_1" data-toggle="tab">Compare <i class="fa fa-exchange" aria-hidden="true"></i></a>
                </li>
                <li class="active">
                    <a href="#difference" data-act="switch_difference" data-toggle="tab">Difference</a>
                </li>
                <li class="">
                    <a href="#compare" data-act="switch_compare_2" data-toggle="tab">Compare <i class="fa fa-exchange" aria-hidden="true"></i></a>
                </li>
                <li class="">
                    <a href="#original" data-act="switch_original" data-toggle="tab">Original</a>
                </li>
            </ul>
        </div>
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="modal_form" action="javascript:void(null);" onsubmit="">
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="loading_label">
        <span><i class="fa fa-refresh"></i> Loading...</span>
    </div>

    <script type="text/javascript">
        //
        // Ajax spinner
        //
        $('.loading_label').fadeIn(1000);

        $(document).on({
            ajaxStart: function () {
                $('.loading_label').fadeIn(1000);
            },
            ajaxStop: function () {
                $('.loading_label').fadeOut(1000);
            }
        });

        //
        // Get parameter value from url
        //
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        //
        // Bind ajax loader on A with attr linkUrl
        //
        $(document).on('click', '[linkUrl]:not([linkUrl=""])', function (e) {
            e.preventDefault();

            var path = $(this).attr('linkUrl');

            if (path != null) {
                history.pushState(null, null, path);
                ajax_loader();
            }

            return false;
        });

        //
        // Url parse
        //
        function url_parse() {
            var link_action = location.pathname;
            switch (link_action) {
                case '/branch':
                    return '/Kepler/PartialBranchView';
                    break;
                case '/build':
                    return '/Kepler/PartialBuildView';
                    break;
                case '/error-log':
                    return '/Kepler/ErrorLogView';
                    break;
                case '/admin':
                    return '/Admin/IndexView';
                    break;
                case '/admin/image-workers':
                    return '/Admin/ImageWorkersView';
                    break;
                case '/admin/service-url':
                    return '/Admin/ServiceUrlView';
                    break;
                case '/admin/source-image-path':
                    return '/Admin/SourceImagePathView';
                    break;
                case '/admin/scheduler':
                    return '/Admin/SchedulerView';
                    break;
            }
        }
        
        //
        // Ajax loader
        //
        function ajax_loader() {
            $.ajax({
                url: url_parse(),
                type: 'GET',
                success: function (data) {
                    $('#page-inner').html(data);
                }
            });
        }

        $(document).ready(function () {
            //
            // Run Ajax loader on document ready, if url path != null
            //
            if (url_parse() != null) {
                ajax_loader();
            }
        });
    </script>

    <script src="/Scripts/modal_win.js"></script>

</body>
</html>